{% extends "base.html" %}

{% block title %}Dashboard{% endblock  %}

{% block content %}
<div class="container mt-4 bg-white">
    <div class="row g-4 p-3 rounded mb-5 text-center">

        <h1 class="h3">My Items</h1>
        {% if not items %}
            <h5>No items</h5>
        {% endif %}

        {% for item in items %}
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card h-100 text-center shadow-sm d-flex flex-column" style="background-color: rgb(248,248,248)">
                    <a href="{% url "detail" item.id %}" class="flex-grow-1 d-flex align-items-center justify-content-center border">
                        <img src="{{ item.image.url }}" class="card-img-top w-100 h-100" alt="{{ item.name }}">
                    </a>
                    <div class="card-body flex-grow-0">
                        <h2 class="cart-title">{{ item.name }}</h2>
                        <p class="card-text text-muted">Price: {{ item.price }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</div>



{% endblock  %}
