<nav class="navbar navbar-expand bg-body-tertiary mb-3 border">
    <div class="container">
        <a href="{% url "home" %}" class="navbar-brand">Logo</a>


        <div>
            {% if user.is_authenticated %}
                <a href="{% url "new" %}" class="navbar-link p-3 rounded fw-bold text-decoration-none text-dark">Add Item</a>
                <a href="{% url "browse" %}" class="navbar-link p-3 rounded fw-bold text-decoration-none text-dark me-3">Browse</a>
                <a href="{% url "inbox" %}" class="btn btn-success">Inbox</a>
                <a href="{% url "dashboard" %}" class="btn btn-secondary">Dashboard</a>
                <a href="{% url "user_logout" %}" class="btn btn-danger">Logout</a>
            {% else %}
                <a href="{% url "signup" %}" class="btn btn-success">Sign up</a>
                <a href="{% url "user_login" %}" class="btn btn-primary">Login</a>
            {% endif %}

        </div>
</nav>